.selectione{
border: 1px solid black;color: red;
cursor: pointer
}
.non_selectione{
    border: 0px;color: black;
}
.btnActif{
color:green;
background-color: white;
font-size: 24px;
font-weight:bold;

}
.btnInActif{
color:#ededed;
background-color: gray;
font-size: 24px;
font-weight:bold;

}
.rouge{
    color:red;
}
.message-erreur{
    color: red;

}
input:invalid,select:invalid{
box-shadow: 2px 2px pink;
}
.ma_class{
    color: darkgreen;
}