<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
            <!-- j'utlise une l'interpolation pour sortir dans la vue 
            une donné definie par un composant (en general) ici par l'instance vue
             -->
        <h1> {{ mon_titre }}</h1>
        <h3>Formation "{{ formation}}"</h3>
        <h3>Durée "{{ durée}}"</h3>

        <span>Formateur : "{{ nomFormateur}} {{ prénomFormateur}}</span><br>

        <span>Prix : "{{ prix * (1 - remise)}} euro"</span> <br>
        <span> {{ 'Date debut :' + date.split('').reverse().join('') }} </span>

        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Instance Vue",
                formation : "Développer avec VueJs",
                durée : 5,
                nomFormateur : "Greceau",
                prénomFormateur : "Valentin",
                prix:2500,
                remise:0.15,
                date : '9102/70/51' // represente la date courante inverse
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            }

        });

    </script>
    </body>
</html>