<!DOCTYPE html>
  <!--  vuejs  permet de'afficher ou pas a l'aide de v-if -->
    <!--  defference entre v-if and v-show
    v-show : on affiche des élements qui existent dans le DOM qui sont cachés en le rendant visible
    v-if   : on crée ou pas les élements en question, puis on les affiche 
     -->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv" >
      
            <h1>{{ mon_titre }}</h1>
            <p>
            <!--  cette écrirure il va pas marcher   -->
            <a href="{{ siteFormateur} }" class="link">Site de Valentin </a>    </p>
            <!--  lier les attribues a partir du controller avec v-bind sans les moustaches -->
            <p> <a v-bind:href="siteFormateur" class="link">Site de Valentin </a>    </p>
            <!--  plus simplifier avec le syntaxe suivants  -->
            <p><a :href="siteFormateur" class="link">Site de Valentin </a>    </p>
             <img v-bind:src="src_img" :alt="alt_img" :title="titre_img">  
             <br> 
             <!-- je peux binder/ lier certains attributs et d'autre pas -->
             
             <input name="" :value="valeurBoiteSaisie"> 
             <br>
           <!-- <input type="submit" :value="titreButton"> -->
            <br>
            <!-- iplimenter un biding dynamique cela veut dire que la valeur a injecter 
            dans le l'attribut sera decidée en fonction de choix de l'utilisateur
             -->
            
             <!-- proposer 3 buttons radion qui permet a utilisateur de changer dynamiquement le type du control <input>  -->
            <input type="radio" value="src" checked name="le_nom" v-model="attribut_dynamique">src   <br>
            <input type="radio" value="alt" name="le_nom" v-model="attribut_dynamique"> alt   <br>
            <input type="radio" value="title" name="le_nom" v-model="attribut_dynamique"> title  
            <!-- la directive v-model assure transfert dans les 2 sens (d'un  input vers le controleur et du controleur vers input de la valeur de l'attribut 
            'value'  )  -->
             <br>

             <span>Image dont les attributs sont dynamiques </span>
              
             <img v-bind:[attribut_dynamique]="valeur" >
              <br>
                <!--  Dans l'exemple precedent nous qvons donne dynamiquement le nom de l'attribut a lier ici 
                je vais utliser le meme attribut 'type' et changer dynamiquement seulement sa valeur en fonction du vutton radio selectionner par user
                 -->
            <input type="radio" value="text" checked name="le_type" v-model="valeur_dynamique">text   <br>
            <input type="radio" value="checkbox" name="le_type" v-model="valeur_dynamique"> checkbox   <br>
            <input type="radio" value="button" name="le_type" v-model="valeur_dynamique"> button   <br>
            <!--  le controle input benificiaire  -->
            <input :type="valeur_dynamique" value="Mon titre">
            <!--  AJOUTS -->
            <span>Type de formation</span> <br>
             <span v-if="formationEnligne"> en ligne</span> 
             <span v-else-if="formationPOE">POE</span>
             <span v-else>Diplomante</span>
             <!-- combiner les critaires -->
             <p v-if="prix > 1000 && ! formationEnligne">Le finanacement de cette formation est prise en charge </p>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Binding",
          
                siteFormateur : "http://google.com",
                src_img: './images/alex.png',
                titre_img:"photo alex",
                alt_img:"photo alex ...",
                valeurBoiteSaisie : "Vuejs",
                attribut_dynamique : 'src',
                valeur :'images/croco.png',
                valeur_dynamique : "date",
                // AJOUTS
                formationEnligne :false,
                formationPOE : true, 
                prix:2500,
            
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            }

        });

    </script>
    </body>
</html>