<!DOCTYPE html>
  <!--         -->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv" style="text-align: center">
          <h1> {{ counter }}</h1>
          <button type="button" v-on:click="counter += 1"> +  </button>
          <!--  on peux utliser le syntaxe simplifier -->
        <button type="button" @click="counter -= 1"> -  </button>
        <p>
            <span style="color:gree">Nb formation a suivre</span>
               <span style="color:blueviolet"> {{nbrFormation}}</span>
        </p>
        <!-- 

     2 button qui permentent de s'inscrire a une formation
     et qui lient le traitement de l'evenement click a une methode
        -->
        <button type="button" @click="inscription(1)"> s'inscrire  </button>
        <button type="button" @click="inscription(-1)"> de désinscrire  </button>
        <!-- traitement click sur image -->
        <p>
        <img :src="imgCommutateur" alt="" height="100" @click="commuter">
        </p>
        <!-- Intercepter l'évenement leé par la modification d'une boite input -->
        <!-- j'ai utilisé la methode traiterSaisie 'traiterSaisie' du controlleur pour recuperer la saisie
        et la déposer dans une variable, disons 'la_saisie' pour l'appel de cette methode je n'ai pas utilisé les ()
        mais malgré cela le systeme passe l'evenement comme argument , si je veux utilser les () il faut pas passer l'evenement 
         -->
        <input type="text" v-on:input="traiterSaisie" />
        <!-- afficher la saisie -->
        <p>
            La saisie : {{ la_saisie }}
        </p>
        <!--  il ya une autre méthode plus convenable (récuperer la saise dans le controlleur et la remonter vers une interpolation )
        en utilisant la directive v-model cette solution permet aussi d'intialiser la boite de saisie et n'a pas besoin d'une method de traitement

        -->
        <input type="text" v-model="la_saisie_v2">
        <p>
            La saisie v2 : {{ la_saisie_v2 }}
        </p>
        <!-- vuejs est un framework reactif : des qu'une variable change de valeur
        la vue, la vue qui utlise est mise a jour, mais parfois je ne veux pas qu'une modifications
        d'une variable reactive remplace la valeur intiale affichee dans ce cas, on utilise v-once 
         -->
          <!-- ce <p> va pas autoriser le mise a jour de son contenu  heureCourante -->
         <p v-once>Heure courante au moment du lancement de l'application :  {{ heureCourante}}</p>
           <!-- ce 2 eme <p> va autoriser le mise a jour de son contenu  heureCourante -->
         <p >Heure courante : {{ heureCourante}}</p>
         <!-- un bouton qui va récuperer l'heure courante quqnd on click dessus -->
         <button type="button" @click="recupererHeure()">MAJ heure</button>
        <!-- 
            - evenement mouseentrer et mouseleave
            - passage implicite et explicite de evenement au handler de traitement
             -->
             <p> Nos formateurs : </p>
              <!-- formateur et index sons des variable locale dans la boucle -->
             <span :data-mon-index="index" v-for="(formateur, index) in formateurs" style="margin:20px;padding:10px;background-color:bisque" @mouseenter="entreeSouris" @mouseleave="sortieSouris">{{formateur}} </span>
        <!--  comme je n'ai pas utilisé les ()  apres entreeSouris et sortieSouris, vuejs passe omplicitement l'evenement en argument  -->
        <!-- afficher la photo du formateur survolé -->
        <br>
         <br>
          <br>
        <!-- dans cetter 2 eme version, je voudrais passer la valeur de index comme argument au handler mais dans ce cas je ois utliser les parametres () explicitement-->
        <!-- le variable $event c'est evenement event en vuejs-->
     <span v-for="(formateur, index) in formateurs" style="margin:20px;padding:10px;background-color:bisque" @mouseenter="entreeSouris2(index, $event )" @mouseleave="sortieSouris2(index, $event )">{{formateur}} </span>

        
        <figure v-show="urlImage">
            <img :src="urlImage" :alt="txtAlt">
            <figcaption> {{ captionFormateur}}</figcaption>
        </figure>
        <br>
        <br>
            <!-- le binding dynamique d'evenement le type d'evenements: a rataraper sera donne dynamiquement -->
                <!-- creer 3 bouttons radio pour permettre le user choisir le type de evenement   -->
                <input type="radio" name="" value="click" v-model="event_a_rattraper"> click
                <input type="radio" name="" value="mouseenter" v-model="event_a_rattraper"> mouseenter
                <input type="radio" name="" value="mouseleave" v-model="event_a_rattraper"> mouseleave
         <br>
        <br>
        <div style="width:300px;background-color:pink;padding:40px" v-on:[event_a_rattraper]="traitementEvent">
        Cours VueJs
        <!-- pour lier l'evenement dont -->
        </div>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Evenement",
                counter : 0,
                nbrFormation : 0,
                imgCommutateur:"images/switch_on.png",
                la_saisie:"xys", // cette intialisation ne pas pas remonter vers la vue
                la_saisie_v2:"abc" ,
                heureCourante :"!!!!",
                formateurs: [
                    "Marie",
                    "Jeanne",
                    "Philippe",
                    "Pierre"
                ],
                photosFormateur :[
                    "Marie.png",
                    "Jeanne.png",
                    "Philippe.png",
                    "Pierre.png"
                ],
                urlImage : "",
                txtAlt:"",
                captionFormateur :"" ,
                event_a_rattraper :"mouseenter",

           
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
                // initialiser heureCourante
                this.recupererHeure();
            },
            methods : {
                count : function (e){
                    this.counter += 1; 
                },
                inscription :  function (arg){
                    if(this.nbrFormation + arg < 0)
                    {
                        alert("vous etes inscript a aucune formation");
                        return;
                    } else if(this.nbrFormation + arg > 5) {
                        alert("vous ne pouvez pas inscrire plus de 5 formations");
                        return;

                    }
                    this.nbrFormation += arg;
                },
                commuter(){
                    switch (this.imgCommutateur) {
                        case "images/switch_on.png":
                            this.imgCommutateur = "images/switch_off.png";
                            break;
                     case "images/switch_off.png":
                        this.imgCommutateur = "images/switch_on.png";
                            break;

                        default:
                        alert("Nom d'image n'existe pas ou non pris en compte")
                            break;
                    }
                },
                traiterSaisie(event){
                    
                    this.la_saisie=event.target.value;
                },
                recupererHeure(){
                    const dateCourante = new Date();
                    this.heureCourante = dateCourante.getHours() + ":" + dateCourante.getMinutes() + ":" + dateCourante.getSeconds() ;
                },
                entreeSouris(e){
                       
                        e.target.className="selectione";
                        // recuperer LA VALEUR de l'index de l'element selectionner 
                        console.log(event.target.dataset.monIndex);
                        var monFormateurIndex = event.target.dataset.monIndex;
                        this.urlImage = "images/"+ this.photosFormateur[monFormateurIndex];
                        this.txtAlt = "Ceci est photo la de " + this.formateurs[monFormateurIndex];
                         this.captionFormateur =this.formateurs[monFormateurIndex] +  " est la meilleur .... " 
                },
                sortieSouris(e){
                     e.target.className="non_selectione";
                     this.urlImage = "";
                },
                 entreeSouris2(index, e){
                    this.urlImage = "images/"+ this.photosFormateur[index];
                        this.txtAlt = "Ceci est photo la de " + this.formateurs[index];
                         this.captionFormateur =this.formateurs[index] +  " est de nos meilleur .... " 
                },
                sortieSouris2(index,e){
                    e.target.className="non_selectione";
                     this.urlImage = "";
                },
                traitementEvent(e){
                    //console.log(e);
                    e.target.innerText = " j'ai rattrape un evenment " + e.type
                }

            }

        });

    </script>
    </body>
</html>