<!DOCTYPE html>
  <!--         -->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv" style="text-align: center">
          <h1>{{mon_titre }}</h1>
          <h4>Listes formations : </h4>
          <ul v-for="ecole in ecoles">
              <li> {{ ecole }}</li>
          </ul>
          <!-- on peut afficher la valeur de la variable locale ecole avec la derictive v-text <li v-text="ecole"> </li> -->
        <ul v-for="ecole in ecoles">
        <li v-text="ecole"> </li>       
        </ul>
        <!-- utiliser une boite de saisie pour ajouter des items dans le tableau ecoles-->
        <input type="text"  v-model="laSaisie">
        <button @click="btnAjouterOnClick">Ajouter école</button>
        <!--utiliser comme source de données une proprieté calculée -->
        <h4>Listes Ecoles ordonnees : </h4>
          <ul v-for="ecole in ordonnerEcole">
              <li v-text="ecole"> </li>       
        </ul>
        <!-- urliser un tbale d'objet -->
          <h4>Listes Formations : </h4>
          <ul v-for="f in formations">
              <li> {{f.nomFormation}} . duree : {{f.duree}}</li>       
        </ul>
        <!-- recuperer aussi l'index -->
          <h4>Listes Formateurs : </h4>
        <div v-for="(f, index) in formateurs">
             {{  index + 1 +  " - " + f  }}
        </div>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Directive For",
                // definir un tableau non structures
                // comme par exemple, des chaines de caracteres
                ecoles:["IF2I","CMAN","M21"],
                laSaisie : "",
                 formations:[
                 {
                      nomFormation:"VueJs",  
                     duree:5,
                     prix:2520.5 
                 },{
                    nomFormation:"ReactJs",  
                     duree:4,
                     prix:2100 
                 },{
                    nomFormation:"Angular",  
                     duree:6,
                     prix:3000 
                     
                 }],
                 formateurs:[
                      "Marie",
                    "Jeanne",
                    "Philippe",
                    "Pierre"
                 ]
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            methods : {
            btnAjouterOnClick(){
                    this.ecoles.push(this.laSaisie);
                    // vider la boite de saisie
                    this.laSaisie = "";
            }
            },
            computed : {
                ordonnerEcole(){
                    // attention la method sort() modifie le contenu du tableau origine
                    // si je veux eviter cela je dois applique sort sur une copie 
                    return this.ecoles.slice().sort();
                }
            }
            

        });

    </script>
    </body>
</html>