<!DOCTYPE html>
  <!--    montrer l'interet de l'utilisation de l directive key     -->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>
        <script src="lodash.min.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <button @click="btnMelangerOnClick" type="button">Changer l'odre des items du tableau tbFormations</button>
          <table>
              <tr> 
                  <td> Version sans key                                               </td> 
                   <td>Version avec key sur un id unique</td> 
                   <td>Version avec key sur un index</td> 
              </tr>
              <tr>
                  <td style="background-color: aqua">
                      <div v-for="f in tbFormations">
                          <p>{{f.nom}}</p>
                           <p>{{f.duree}}</p>

                          <p>{{f.prix}}</p>
                          <p> S'inscrire <input type="checkbox" ></p>

                      </div>
                  </td>
                   <td style="background-color: bisque">
                      <div v-for="f in tbFormations" :key="f.id">
                          <p>{{f.nom}}</p>
                           <p>{{f.duree}}</p>

                          <p>{{f.prix}}</p>
                          <p> S'inscrire <input type="checkbox" ></p>

                      </div>
                  </td>
                   <td style="background-color: burlywood">
                      <div v-for="(f,idx) in tbFormations" :key="idx">
                          <p>{{f.nom}}</p>
                           <p>{{f.duree}}</p>

                          <p>{{f.prix}}</p>
                          <p> S'inscrire <input type="checkbox" ></p>

                      </div>
                  </td>
              </tr>
          </table>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Directive key",
                  tbFormations:[
                 {
                     id:102,
                      nom:"VueJs",  
                     duree:5,
                     prix:2520.5 
                 },{
                     id:103,
                    nom:"ReactJs",  
                     duree:4,
                     prix:2100 
                 },{
                     id:104,
                    nom:"Angular",  
                     duree:6,
                     prix:3000 
                     
                 },{
                     id:105,
                    nom:"Javascript",  
                     duree:10,
                     prix:3500 
                     
                 }],
       
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
               

            },
            methods :{
                btnMelangerOnClick(){
                   this.tbFormations =  _.shuffle(this.tbFormations);
                   console.log(JSON.stringify(this.tbFormations) );
                   
                }
            }

        });

    </script>
    </body>
</html>