<!DOCTYPE html>
  <!--         -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
          <div id="idDiv">
          <h1>{{mon_titre}}</h1>
            <!--    Binding de style     -->
          <ul>
              <li v-for="f in formations" :key="f.id" :style="{color:f.couleurText, backgroundColor:f.coleurFond}" >{{f.nom}}</li>
          </ul>
            <!--   gerer la disponibilte dun element avec la directive disable      -->
            <button @click="next(-1)" :disabled="n == 0">&lt;</button>
            <!--    Afficher la formation courante     -->
            <!--    le varible n represente la position la formation courante dans le tableau
                    de formation , si je suis sur la formation indexee par 0, je ne peux pas aller a gauche
                 -->
            <span style="display:inline-block;width:100px"> {{formations[n].nom}}</span>
         <button @click="next(1)" :disabled="n >= (formations.length - 1)">  &gt;</button>
         <!-- on va voir binding class :class  -->
        <p>
         <button @click="navigerFormateur(-1)" :class="{btnInActif: k == 0 , btnActif: k > 0 }" :class="{btnInActif: k > 0}"> &lt;</button>
          <span style="display:inline-block;width:100px"> {{formateurs[k]}}</span>
           <button  @click="navigerFormateur(1)" :class="{btnInActif : k >= (formateurs.length - 1), btnActif : k < (formateurs.length)}" :class="{"> &gt;</button>
           </p>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Binding styles et classes css ",
                formations : [
                    {
                        id:111,
                        nom:"VueJs",
                        couleurText:"blue",
                        coleurFond:"#ededed"
                    },
                    {
                        id:222,
                        nom:"ReactJs",
                        couleurText:"magenta",
                        coleurFond:"#ededed"
                    },
                    {
                        id:333,
                        nom:"Angular",
                        couleurText:"#008000",
                        coleurFond:"#ededed"
                    },
                ],
                formateurs:[
                     "Marie",
                    "Jeanne",
                    "Philippe"
                 ],
                n:0,
                k:0,

            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            methods : {
                next(data){
                    this.n += data;
                },
                navigerFormateur(data){
                    var resultat = this.k + data;
                    // tester le resultat obtenu
                    // 
                    if(resultat >= 0 && resultat < this.formateurs.length){
                        this.k = resultat;
                    }
                },

            }

        });

    </script>
    </body>
</html>