<!DOCTYPE html>
  <!--   Une proprieté calculer cintient un valeur qui est obtenu comme suite e l'excution d'une function
    Le nom de la proprieté calculée est le nom de la function
    La propriete est recalculee automatiquement si sa source reactive change
        -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <ul>
              <li v-for="v in ordonnerVille"> {{ v}}</li>
          </ul>
          <!-- Aspect concernant la réactivité -->
          <div> Heure courante : {{ heureCourante}}</div>
          <button @click="raffraichir" > Raffraichir heure</button>
          <!-- version reactive -->
         <div> Heure courante reactive : {{ heureCouranteReactive}}</div>
          <button @click="raffraichirHeureReactive" > Raffraichir heure Recative</button>

        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
 
            el :"#idDiv",

            data :{
                mon_titre : "Proprietés calculee",
                villes :["Paris","Lyon","Lile","Bordeaux","Marseille"],
                // definr un object utilitaire qui me permettra de definir une proprietee calculer reactive
                // nomee heure couranteReactive
                objHeure:{
                    l_heure:"",
                }, 

            },
             created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            // les proprietes calculees doivent etre definies dans l'option computed
            computed : {
                ordonnerVille(){
                    return this.villes.slice().sort();
                },
                heureCourante(){
                    var dateCourante = new Date(); 
                        return dateCourante.getHours()   + " : " +
                               dateCourante.getMinutes() + " : " + 
                               dateCourante.getSeconds()
                },
                heureCouranteReactive(){
                 var dateCourante = new Date(); 
                 this.objHeure.l_heure = dateCourante.getHours()   + " : " +
                               dateCourante.getMinutes() + " : " + 
                               dateCourante.getSeconds();
                               return this.objHeure.l_heure;
                }
            },
            methods : {
                 raffraichir(){
                    return this.ordonnerVille;
                    // je constate que je ne peux pas assurer la reactivite car ma propriete 
                    // calcule ne s'appuis pas sur une ressource (comme, par exemple un tableau, object, etc)
                 },
                 raffraichirHeureReactive(){
                     // pour obliger la proprite calcule 'heureCouranteReactive' de recalculer sa valeur,
                     // je fait une modification n'importe laquelle dans lobject 'objHeure'
                   this.objHeure.l_heure ="!!!!!";  
                 }
            }
        });

    </script>
    </body>
</html>