<!DOCTYPE html>
  <!--         -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
         Prénom :       <input type="text" v-model="prenom"> <br>
         nom :          <input type="text" v-model="nom"> <br> <br>
         Nom complet :  <input type="text" v-model="nomComplet"> <br>


        </div>
    <script>
        // creer la racine app qui est une instance VueJs

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Proprietes Calculee Getters Et Setters".toLowerCase(),
                prenom : "Pierre",
                nom : "Martin",

            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            computed:{
                nomComplet : {
                        get(){return capitalizer(this.prenom)+ " " + capitalizer(this.nom)},
                        set(leNomComplet){
                            tb = leNomComplet.split(" ")
                            this.prenom = ""
                            try{
                                                          this.prenom = capitalizer(tb[0])

                            }
                            catch(ex){}
                            this.nom = ""
                             try{
                                this.nom = capitalizer(tb[1])
                            }
                            catch(ex){}
                            
                        }
                }
            }

        });
function capitalizer(string){
        return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();

}
    </script>
    </body>
</html>