<!DOCTYPE html>
  <!--      
        pour mettre en place un routage on doit :
        - creer les composants sur lesquels je veux diriger (router) l'utlisateur
        - creer les routes (route - correspondance entre une url et comosant)
        - creer le router et lui injucter le routeur
        - creer l'outlet du routeur : le conteneur oü on veut afficher le composant de
        destiniation
        - creer eventulement du lien de navigation

     -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>
            
        <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
            <!-- liens-->
            <router-link to="/formations">Afficher les formations</router-link> <br>
            <router-link to="/formateurs">Afficher les formateurs</router-link><br>
            <router-link to="/le_bouton">Afficher les compteur</router-link><br>
         
          
            <h4>Liens qui utilisent  $router </h4>
                        <a href="#" @click="aller_a('/formations')">Afficher les compteur</a> <br>
                        <a href="#" @click="aller_a('/le_bouton')">Afficher les compteur</a> <br>
            <h4>Liens qui utilisent  objet push </h4>
                           <a href="#" @click="$router.push({path : '/formations'})">Afficher les compteur</a> <br>

 <router-view class="ma_class"></route-view>
        </div>
    <script>
        
        const Button = Vue.component("bouton-compteur",{
            data()
            {
                return {
                    compteur:0
                }
            },
            template:`<button @click="compteur++; afficherCompteur()">Vous m'avez cliquer : {{compteur}}</button>`,
            methods :{
            afficherCompteur(){
                console.log("valeur compteur", this.compteur)
            },
            }
        })
        const Formations = {
     template :        `<div>
            <h2>Formations</h2>
                  <ul>
                  <li>Vuejs</li>
                   <li>Reactjs</li>
                  </ul>
                  <br>
                  <button @click="$router.back()">Retour</button>
            
     </div>`
        }
             const Formateurs = {
     template :        `<div>
            <h2>Formateurs</h2>
                  <ul>
                  <li>Pierre</li>
                   <li>Marie</li>
                  </ul>
            
     </div>`
        }
// creer la routes
const les_routes = [
    {path:"/formations", component:Formations},
    {path:"/formateurs", component:Formateurs},
    {path:"/le_bouton", component:Button},
]
// creer le routeur et injecter les routes dans un object d'option
const routeur = new VueRouter({
    
    routes:les_routes
})
        var monApplication = new Vue({
          
            el :"#idDiv",
            data :{
                mon_titre : "Routes",

            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            // ajouter les routes
            router :routeur,
            methods:{
                     aller_a(route){
                              this.$router.push(route)
                     }
                   
                    }
            
        });

    </script>
    </body>
</html>