<!DOCTYPE html>
  <!--    les composants sont utiliser pour factoriser le code de l'apllication qui
           permet
           - un developement  et de maintenace optimises 
           - de reutilsater les composants
           on peut creer un composant avec methode  component() de Vue
           cette methode exige 2 argumets 
           - le nom du composant
           - un objet d'option (qui peut etre vide)
       -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
         <bouton-compteur></bouton-compteur>
         <bouton-compteur></bouton-compteur>
         <bouton-compteur></bouton-compteur>
        </div>
    <script>
    // remarque sur le nom 
    // le nom bouton
        Vue.component("bouton-compteur",{
            // definir les proprietes du composant option data
    // l'option 'data' doit etre une function'
            data(){
                return {
                    compteur : 0
                }
            },
            // definir le template du composant
            template : `
             <button @click ="compteur++" > vous avez cliquer {{compteur}} fois </button>
            `

        });
        var monApplication = new Vue({


            el :"#idDiv",
            data :{
                mon_titre : "Instance Vue",

            },
            created() {
                document.title = this.mon_titre;
            }

        });

    </script>
    </body>
</html>