<!DOCTYPE html>
  <!-- les props sont des attributs HTML personnalisés 
     - qui sont enregistrer dans le compOsant 
     - qui PEUVENT UTILISÉS la balise du composant pour passer des donnees
     - qui peuvent etre utilisees dans le template du composant

     -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <div>Liste formations : </div>
            <formation titre="Vuejs"></formation> <br>
            <formation titre="Reactjs"></formation> <br>
            <formateur identifiant="101" nom="dupont" prenom="pierre"></formateur> <br>
            <formateur identifiant="102" nom="Marie" prenom="Martien"></formateur> <br>
            <formateur identifiant="103" nom="dugard" prenom="Philippe"></formateur> <br>
<!-- je vuex maintenant creer des formateurs est les initialiser avec des valeurs fournies par l'instance Vue -->
        <h3>Liste de formateurs dynamiques </h3>
        <formateur v-for="(item, i) in tbValeurs " :identifiant="i + 1 " :nom="item.lprenom" :prenom="item.lnom"></formateur> <br>
        </div>
    <script>
        // creer la racine app qui est une instance VueJs
Vue.component('formation',{
    // l'option 'props' me permet de donnee les noms
    // des props utilisees par ce composants
    // Ces noms doivent etre donnes dans un tableau de chaine de caracteres
    //  meme s'il ya qune seule prop !
props : ['titre'],
template : `<span>{{titre}}</span>`
});
Vue.component('formateur',{

props : ['identifiant','nom','prenom'],
// le template suivants est errone car il doit avoir une seule racine
/*
template : `<span>{{identifiant}}</span>
<span>{{nom}}</span>
<span>{{prenom}}</span>
`*/
template : `<span>{{identifiant}} - {{nom}} {{prenom}}</span>
`
});

        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Composants Props",
                tbValeurs:[
                    { lid:200,leprenom:"valerie",lnom:"dupont"},
                    { lid:201,leprenom:"jean",lnom:"dugard"},
                    { lid:202,leprenom:"Anne",lnom:"Dujardin"},
                ]

            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            }

        });

    </script>
    </body>
</html>