<!DOCTYPE html>
  <!-- Vue fournit la possibilite de reagir au changement de donnees 
  a l'aide d'option watch (obsevrer)
  je veux comparer la valeur du salire par rapport au salaire smic apres cahque modif
  - on peut faire cela poir propriete reactive

   -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <button @click="augmenter_smic">Augmenter smic</button> <br><br>
          <employe prenom="Yves" nom="Martin" nb_enfants="3" ></employe>
          <employe prenom="Yves" nom="Martin" nb_enfants="1" marie="true"></employe>
          <employe prenom="Yves" nom="Martin" nb_enfants="0" marie="true"></employe>
          <!-- creer 2 emplyee dont le props sont liees a 2 propriete -->
          <employe :prenom="e1.le_prenom" :nom="e1.le_nom" :nb_enfants="e1.le_nbe" :marie="e1.marie"></employe>
          <employe :prenom="e2.pnm" :nom="e2.nm"></employe>
        <!-- creer des employes a partir de referentiel tableau -->
          <employe v-for="item in tbIntilaisationEmployes" :prenom="item.p" :nom="item.n" :nb_enfants="item.m" ></employe>
        </div>
    <script>
        var smic = { valeur:1200}
        Vue.component("employe",{
        
        props : {
               nom:{
                    
                    type:String,
                    // validation : je veux qui'il serq obligatoire
                    required: true,  
                },
                 prenom:{
                    
                    type:String,
                    // validation : je veux qui'il serq obligatoire
                    required: true,  
                },
                nb_enfants :{
                    type:Number,
                    // validation : je veux qui'il serq obligatoire
                    required: true, 
                    default :0
                },
                marie :{
                    type:Boolean,
                    // validation : je veux qui'il serq obligatoire
                    required: false, 
                }

            },
            template:`<div>
                    {{prenom}}  {{nom.toUpperCase()}}
                    <span v-if="marie"> marié</span>
                    <span v-if="nb_enfants == 1"> 1 enfant</span>
                    <span v-else-if="hasEnfants">  enfants : {{ nb_enfants  }}</span>
                    <span v-else>sans enfant </span>
                    {{ statut }}, salaire <span :class="{rouge: salaire < salaireMinimum.valeur}"> {{salaire}} </span> €
                    <button @click="augmenter(100)">Augmenter</button>
                     <button @click="augmenter(-100)">baisser</button>
                    salaire minimum : {{salaireMinimum.valeur}} €
            </div>` ,
            // creons une propriete calculatee
            computed :{
                    hasEnfants (){
                        return parseInt(this.nb_enfants) > 0;
                    }
            },
            data(){
                return {
                    statut : "imposable",
                    salaire:smic.valeur,
                    salaireMinimum:smic,          
                }
                
            },
            methods : {
                    augmenter(data){
                        this.salaire += data; 
                    }
                },
                watch:{
                    salaire(nouvelleSalaire){
                            console.log(" nouvelle valeur est : ",nouvelleSalaire)
                    },
                    // si on constat pas que le salaire n'est pas appeler 
                    // effectivement, le salaire minmum est en fait l'object  
                     salaireMinimum(nouvelleSalaire){
                            console.log(" **** nouvelle valeur du salaire minmum  : ",nouvelleSalaire)
                    }
                }
        });
        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Composants Props Et Proprietes",
                // definis 2 objects contenant des infos
                // qui soront utilisees pour creer 2 employes
                e1: {
                    le_prenom:"Pierre",
                    le_nom:"Dujardin",
                    le_nbe:2,
                    marie:true
                },
                  e2: {
                    pnm:"Philippe",
                    nm:"Duguard",
                },
                // definir un tableau d'objet qui sera utiliser pour creer plusieur employes dans un boucle
                tbIntilaisationEmployes:[
                    {
                        n:"Dupont",
                        p:"Corine",
                        nb:1,
                        m:true
                    },
                    {
                        n:"xxxxx",
                        p:"Louise",
                    },
                ]
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            methods : {
                augmenter_smic(){
                    smic.valeur += 100;
                }
            }

        });

    </script>
    </body>
</html>