<!DOCTYPE html>
  <!-- Vue assure la communication entre les composants a l'aide des evenements personalises
  la composant ou l'instance qui veut envoyer une notificatio cree 
  la composant personalise et l'envoi(c'est ce qu'on appelle 'broadcasting')
  pour resevoir l'evenement les composents interesses doivent s'abonner 
  das cet exercice :
  - je vais diffuser un evenement pour annoncer la modification du smic
  - cet evenement sera envoye par la methode qui modifie le smic 
  je vais abonner le composant 'employe' pour qui'il puisse recevoir l'evenement

   -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <button @click="augmenter_smic(100)">Augmenter smic</button> 
                    <button @click="augmenter_smic(-100)">baisser smic</button> 

          <employe prenom="Yves" nom="Martin" nb_enfants="3" ></employe>
          <employe prenom="Yves" nom="Martin" nb_enfants="1" marie="true"></employe>
          <employe prenom="Yves" nom="Martin" nb_enfants="0" marie="true"></employe>
          <!-- creer 2 emplyee dont le props sont liees a 2 propriete -->
          <employe :prenom="e1.le_prenom" :nom="e1.le_nom" :nb_enfants="e1.le_nbe" :marie="e1.marie"></employe>
          <employe :prenom="e2.pnm" :nom="e2.nm"></employe>
        <!-- creer des employes a partir de referentiel tableau -->
          <employe v-for="item in tbIntilaisationEmployes" :prenom="item.p" :nom="item.n" :nb_enfants="item.m" ></employe>
        </div>
    <script>
        var smic = { valeur:1200}
        Vue.component("employe",{
        
        props : {
               nom:{
                    
                    type:String,
                    // validation : je veux qui'il serq obligatoire
                    required: true,  
                },
                 prenom:{
                    
                    type:String,
                    // validation : je veux qui'il serq obligatoire
                    required: true,  
                },
                nb_enfants :{
                    type:Number,
                    // validation : je veux qui'il serq obligatoire
                    required: true, 
                    default :0
                },
                marie :{
                    type:Boolean,
                    // validation : je veux qui'il serq obligatoire
                    required: false, 
                }

            },
            template:`<div>
                    {{prenom}}  {{nom.toUpperCase()}}
                    <span v-if="marie"> marié</span>
                    <span v-if="nb_enfants == 1"> 1 enfant</span>
                    <span v-else-if="hasEnfants">  enfants : {{ nb_enfants  }}</span>
                    <span v-else>sans enfant </span>
                    {{ statut }}, salaire <span :class="{rouge: salaire < salaireMinimum.valeur}"> {{salaire}} </span> €
                    <span v-if="augmentationNecessaire" style="color:blue">Augmentation necessaire</span>

                    <button @click="augmenter(100)">Augmenter</button>
                     <button @click="augmenter(-100)">baisser</button>
                    salaire minimum : {{salaireMinimum.valeur}} €
            </div>` ,
            // creons une propriete calculatee
            computed :{
                    hasEnfants (){
                        return parseInt(this.nb_enfants) > 0;
                    }
            },
            data(){
                return {
                    statut : "imposable",
                    salaire:smic.valeur,
                    salaireMinimum:smic,  
                    augmentationNecessaire :false        
                }
                
            },
            methods : {
                    augmenter(data){
                        this.salaire += data; 
                        //this.augmentationNecessaire = smic.valeur > this.salaire;
                        // Autre possibilite
                        // on peut reevaluer le boolean augmentationNecessaire dans l'observateur du salaire  
 
                    }
                },
                watch:{
                    salaire(nouvelleSalaire){
                            console.log(" nouvelle valeur est : ",nouvelleSalaire)
                            this.augmentationNecessaire = smic.valeur > this.salaire;
                    },
                     salaireMinimum(nouvelleSalaire){
                            console.log(" **** nouvelle valeur du salaire minmum  : ",nouvelleSalaire)
                    }
                }, // fin option watch
                mounted(){
                    // abonner ce composant a l'evenemet changement_smic
                    this.$root.$on('changement_smic', (nouvelle_valeur_smic) => {
                        console.log("j'ai reçu un evenement changement_smic")
                        this.augmentationNecessaire = nouvelle_valeur_smic > this.salaire;
                        
                        })
                // cette façon de recevoir par abonnement, les evenements émis,
                // ne desend pas jusqu'q niveau ou je porrais definir une certaine instance interesse par l'evenement
                // $root tout les instances recoivent l'evenement
                //si on veut cibler la reception au niveau d'une instance ou d'une autre 
                // il ne faut pas abonner le composant mais utiliser le binding d'evenement
                // dans l'instance intereresse  @changement_smic="nom_handler"  
                
                }
        });
        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Composants Props Et Proprietes",
                // definis 2 objects contenant des infos
                // qui soront utilisees pour creer 2 employes
                e1: {
                    le_prenom:"Pierre",
                    le_nom:"Dujardin",
                    le_nbe:2,
                    marie:true
                },
                  e2: {
                    pnm:"Philippe",
                    nm:"Duguard",
                },
                // definir un tableau d'objet qui sera utiliser pour creer plusieur employes dans un boucle
                tbIntilaisationEmployes:[
                    {
                        n:"Dupont",
                        p:"Corine",
                        nb:1,
                        m:true
                    },
                    {
                        n:"xxxxx",
                        p:"Louise",
                    },
                ]
            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            methods : {
                augmenter_smic(data){
                    smic.valeur += data;
                    // je veux emettre un evenement personnalise
                    // pour annoncer la mofication aux composants interesse
                    this.$root.$emit('changement_smic',smic.valeur);
                    // arguments : 
                    //- le nom que je donne a l'evenement
                    // - une valeur a envoye
                    // attention : ne pas oublier d'abonner les composants interssees par cette evenement !

                }
            }

        });

    </script>
    </body>
</html>