<!DOCTYPE html>
  <!--  jusqu'qa maintenat on toujour utliser la methode vue.compenent()
    avec cette method qui exige le nom du composant cree peut etre utilise partout
    dans l'instance Vue ou n'import quel composant
    On dit que ce comopsant a été enregisté globalement.

    Une autre solution existe (local)
    var ComposantA = {....}
    const ComposantB = {....}
    Quand on veux utiliser ce composant il faut enregister dans l'instance Vue 
    ou le composant utiliser 
         -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv">
          <h1>{{mon_titre}}</h1>
          <composantformateur></composantformateur>
          <composantformation></composantformation>
        </div>
    <script>
        // creation composant local
        const composantFormation = {
            data(){
                return {
                    titre : "Liste Formation",
                    tbFormation : ["VueJs","ReactJs"]

                }
            },
            template : `<div>
                <h2 style="color:blue">{{titre}}</h2>  
                <ul>
                <li v-for="f in tbFormation">{{f}}</li>  
                </ul>
            </div>`
        }
        const composantFormateur = {
            template : `<div>
                <h2 style="color:bisque">Les formateur</h2>  
                <ul>
                <li>Pierre</li>  <li>Marie</li>  
                </ul>
            </div>`
        }
        // creer la racine app qui est une instance VueJs
        var monApplication = new Vue({
            // presiser l'endroit oü l'instance vue envoyer ses informations
            // pour cela on utlise l'attribut ou option "el" (comme element)
            el :"#idDiv",
            // pour passer les donner a l'instance on utlisise l'attribut data 
            data :{
                mon_titre : "Instance Vue",

            },
            // utlisation de cycle de vie pour appeler certain methods comme : created, mounted, created, destroyed
            created() {
                // je veux par exemple changer le title du page 
                document.title = this.mon_titre;
            },
            components: {
            'composantformateur': composantFormateur,
            'composantformation': composantFormation
            }

        });

    </script>
    </body>
</html>