<!DOCTYPE html>
  <!--   dans cet exercice je vais voir la validation du formulaire      -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv" class="container">
          <h1>{{mon_titre}}</h1>
          <form action="www.google.com" id="idForm" method="post" class="col-6">
            <div class="form-group">
            <label for="nomComplet"> Nom complet</label>
            <input type="text" name="nomComplet" class="form-control" placeholder="saisir le nom complet" required minlength="3" maxlength="20"> 
           <div class="message-erreur" v-if="erreursValidation.nomComplet" v-text="erreursValidation.nomComplet"></div>

                </div>
                <div class="form-group">
           <label for="email"> Email</label>
            <input type="email" name="email" class="form-control" placeholder=" saisir adresse email" required> 
              <div class="message-erreur" v-if="erreursValidation.email" v-text="erreursValidation.email"></div>
            </div>
            <div class="form-group">
           <label for="idAdresse"> Adresse</label>
            <input type="text" name="adresse" class="form-control" placeholder=" saisir l'adresse " required> 
              <div class="message-erreur" v-if="erreursValidation.adresse" v-text="erreursValidation.adresse"></div>
            </div>
             <div class="form-group">
           <label for="idVille"> Ville</label>
            <input type="text" name="ville" class="form-control" placeholder=" saisir la ville " required> 
              <div class="message-erreur" v-if="erreursValidation.ville" v-text="erreursValidation.ville"></div>
            </div>
          <div class="form-group">
           <label for="idPays"> Pays</label>
           <select id="idPays" name="pays" class="form-control" required>
               <option value=""> Choisir un pays ....</option>
               <option value="FR"> France</option>
               <option value="IT"> Italy</option>
               <option value="DE"> Deutsh</option>
           </select>
              <div class="message-erreur" v-if="erreursValidation.pays" v-text="erreursValidation.pays"></div>
            </div>
             <div class="form-group">
           <label for="idCP"> Code postal</label>
            <input type="text" name="cp" class="form-control" placeholder=" saisir le code postal " required pattern="[0-9]{5}"> 
              <div class="message-erreur" v-if="erreursValidation.cp" v-text="erreursValidation.cp"></div>
            </div>
             
             <div class="form-group">
                 <label > Moyen de paiment : </label>
                 <div class="form-check form-check-inline">
           <label for="idCB"> carte banquaire</label>
            <input type="radio" name="moyenPaiement" id="idCB" value="CB" class="form-check-input" required > 
             </div>
             <div class="form-check form-check-inline">
             <label for="idCB"> Chéque</label>
            <input type="radio" name="moyenPaiement" id="idCheque" value="CHK" class="form-check-input" required > &nbsp;
            </div>
             <div class="form-check form-check-inline">
               <label for="idEspeces"> Espéces</label>
            <input type="radio" name="moyenPaiement" id="idEspeces" value="CASH" class="form-check-input" required > &nbsp;
            </div>
              <div class="message-erreur" v-if="erreursValidation.moyenPaiement" v-text="erreursValidation.moyenPaiement"></div>
            </div>
   <button type="submit" class="btn btn-primary" @click="soumettreForms">Soumettre</button>
          </form>
        </div>
    <script>

        var monApplication = new Vue({
 
            el :"#idDiv",
            data :{
                mon_titre : "Forms",
                erreursValidation:{
                    nomComplet:null,
                    email:null,
                    adresse:null,
                    ville:null,
                    pays:null,
                    cp:null,
                    moyenPaiement:null,
                }

            },
            created() {
                document.title = this.mon_titre;
            },
            methods : {
                soumettreForms(){
                    if(this.validerForms()){
                    console.log("Le formaulaire est valide et les donnes peuvent partir vers le serveur");   

                    }
                },
                validerForms(){
                    //je veux récupérer les élements qui ne pas valide
                    // extraire messages erreur
                    /*
                    var idForm = "form";
                    var tbNoeuds = document.querySelectorAll(`#${idForm}:invalid`);
                    */
                     var tbNoeuds = document.querySelectorAll('#idForm :invalid');

                    // version non conseillée
                   // this.erreursValidation.nomComplet = null

                   // console.log(noeud); 
                    /* supprimer le sencien message erreur avant de 
                    recupérer  les messages d'erreur des noeuds invalides 
                    au lieu de supprimer la valeur de cahque clé, je vais énumerer/récupurer toutes
                    les clés presente dans l'objet erreursValidation
                    
                    */
                    Object.keys(this.erreursValidation).forEach(key => {
                        this.erreursValidation[key] = null
                    })
                    // tester si ila des champs invalides 
                    // retenir un unstance vue dans un variable dont j'airai besoin plus bas
                    var instanceVue = this;
                    if(tbNoeuds.length > 0){
                        // je recupere les noeuds invalides et je remplie par  message erreurs
                    tbNoeuds.forEach(noeud => {
                        instanceVue.erreursValidation[noeud.name] = noeud.validationMessage
  
                        /* je veux m'assurer que la noeud sera revalidé tout de suite 
                        // la function validerFormulaire sera appelé chaque modification ou saisie 
                    
                        */
                        noeud.addEventListener('change', function(e){
                                        instanceVue.validerForms();
                        })
                        }) 
                        return false 
                    } else
                        return true
                    } // fin validerForms
                } // fin methods 

            

        });

    </script>
    </body>
</html>