<!DOCTYPE html>
  <!--   dans cet exercice on utlise plus validation html
        mais on met en place notre propre validation
        je veux aussi les messages d'erreurs d'une façon centralisée
        (par exemple dans une balise div afficher en haut formaulaire)
        -->
<html>
    <head>
       <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="vue.js"></script>

    </head>
    <body>
       
        <div id="idDiv" class="container">
          <h1>{{mon_titre}}</h1>
          <form action="www.google.com" id="idForm" method="post" class="col-6" novalidate="true" @submit="validerFormulaire">
            <p>
                <ul>
                    <li v-for="erreur in erreursValidation" v-text="erreur"></li>
                </ul>
            </p>
            <div class="form-group">
            <label for="nomComplet"> Nom complet</label>
            <input type="text" name="nomComplet" class="form-control" placeholder="saisir le nom complet" v-model="le_nom"> 

                </div>
                <div class="form-group">
           <label for="email"> Email</label>
            <input type="email" name="email" class="form-control" placeholder=" saisir adresse email" v-model="l_email" > 
            </div>
            <div class="form-group">
           <label for="idAdresse"> Adresse</label>
            <input type="text" name="adresse" class="form-control" placeholder=" saisir l'adresse "  v-model="l_adresse"> 
            </div>
             <div class="form-group">
           <label for="idVille"> Ville</label>
            <input type="text" name="ville" class="form-control" placeholder=" saisir la ville " v-model="la_ville"> 
            </div>
          <div class="form-group">
           <label for="idPays"> Pays</label>
           <select id="idPays" name="pays" class="form-control" v-model="le_pays" >
               <option value=""> Choisir un pays ....</option>
               <option value="FR"> France</option>
               <option value="IT"> Italy</option>
               <option value="DE"> Deutsh</option>
           </select>
            </div>
             <div class="form-group">
           <label for="idCP"> Code postal</label>
            <input type="text" name="cp" class="form-control" placeholder=" saisir le code postal "  v-model="le_pays" > 
            </div>
             
             <div class="form-group">
                 <label > Moyen de paiment : </label>
                 <div class="form-check form-check-inline">
           <label for="idCB"> carte banquaire</label>
            <input type="radio" name="moyenPaiement" id="idCB" value="CB" class="form-check-input"  > 
             </div>
             <div class="form-check form-check-inline">
             <label for="idCB"> Chéque</label>
            <input type="radio" name="moyenPaiement" id="idCheque" value="CHK" class="form-check-input"  > &nbsp;
            </div>
             <div class="form-check form-check-inline">
               <label for="idEspeces"> Espéces</label>
            <input type="radio" name="moyenPaiement" id="idEspeces" value="CASH" class="form-check-input"  > &nbsp;
            </div>
            </div>
            <!-- ajout de 2 champs validation -->
            <div class="form-group">
            <label for="dateNaissance"> Date naissance : </label>
           <input type="date" name="dateNaissance" id="dateNaissance"  v-model="la_dateNaissance" class="form-control">
            </div>
            <div class="form-group">
           <label for="dateMariage"> Date mariage : </label>
           <input type="date" name="dateMariage" id="dateMariage"  v-model="la_dateMariage" class="form-control">
            </div>
           <button type="submit" class="btn btn-primary" >Soumettre</button>
          </form>
        </div>
    <script>

        var monApplication = new Vue({
 
            el :"#idDiv",
            data :{
                mon_titre : "Forms",
                erreursValidation:[],
                le_nom:"",
                l_email:"",
                le_pays:"",
                l_adresse:"",
                la_dateNaissance:null,
                la_dateMariage:null,
                la_ville:null

            },
            created() {
                document.title = this.mon_titre;
            },
            methods : {
                // fin validerFormulaire
                validerFormulaire(evt){
                            this.erreursValidation =[]
                            // le tester le nom
                            if(!this.le_nom){
                                this.erreursValidation.push("Le nom est nécessaire")
                            }else if(this.le_nom.length < 3 || this.le_nom.length > 20){
                                    this.erreursValidation.push("Le nom doit avoir entre 3 et 20 characteres")

                            }
                            // le tester email
                            if(!this.l_email){
                                this.erreursValidation.push("L'email est nécessaire")
                            }else if(this.validerEmail(this.l_email)){
                                    this.erreursValidation.push("Le nom doit avoir entre 3 et 20 characteres")

                            }
                            // tester date naissance
                            if(! this.la_dateNaissance)
                            this.erreursValidation.push("la date de naissance est necessaire")
                            else{
                                // est ce que la date de mqriqge est presente
                                if (this.la_dateMariage) {
                                  
                                    //console.log(this.la_dateNaissance)
                                    //console.log(this.la_dateMariage)
                                     anneeNaissance = this.la_dateNaissance.split("-")[0]
                                     anneeMariage = this.la_dateMariage.split("-")[0]
                                     if(anneeMariage - anneeNaissance < 10)
                                     this.erreursValidation.push("vous pouvez pas se marier avant de 18")
                                }
                            }
                            // a-ton- trouve des erreurs
                            if(this.erreursValidation.length == 0)
                            return true
                            // empecher d'envoyer le formulaire
                            evt.preventDefault()
                },
                validerEmail(email){
                    // definir un model d'expression réguliere
                    var pattern = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/; 
                        console.log(pattern.test(email));
                        return pattern.test(email);
                },

                } // fin methods 

            

        });

    </script>
    </body>
</html>